@media(max-width : 600px){
    .container{
        margin: 0 10px;
        overflow: hidden;
    }
    .image{
        width: 50px;
    }
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    width: 20%;
    margin-top: 50px;
}